#about {
  padding: 40px;
}

#about h2 {
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

.about-text {
  max-width: 700px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  #about {
    padding: 32px;
  }

  .about-container {
    gap: 4px;
  }

  .profile {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }

  .about-text {
    font-size: 18px;
  }

  .about-container {
    flex-direction: column;
  }
}
